# Eclat

If you're planning to find the best set of products in bucket without any rules, you can go for **Eclat** rather than **Apriori**.

> Eclat only use support value for find the most common set of product.

## Algorithm
- **Step 1** : Choose the minimum support value.
- **Step 2** : Select all the subset of transaction which have higher support value than minimum support.
- **Step 3** : Sort the set by decreasing support.
- **END** : Your rules are prepared.

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
%pip install apyori

Requirement already satisfied: apyori in c:\programdata\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

## Data Preprocessing
- As we are using apriori for find the ecalt, data preprocessing step remains.

In [3]:
# Load the dataset with/without header.
dataset = pd.read_csv(r'../dataset/Market_Basket_Optimisation.csv', header = None)

# Convert pandas data frame to list of list containing only string values. (Keep empty values as nan)
transactions = [[str(value).lower() for value in row] for row in dataset.values]

## Train Eclat ARL Model

In [4]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, max_length = 2)
results = list(rules)

## Visualize result

If we check the `results` we can understand that it is returning RelationRecord object as shown in below.

```
RelationRecord(
    items=frozenset({'chicken', 'light cream'}), 
    support=0.004532728969470737, 
    ordered_statistics=[
        OrderedStatistic(
            items_base=frozenset({'light cream'}), 
            items_add=frozenset({'chicken'}), 
            confidence=0.29059829059829057, 
            lift=4.84395061728395
        )
    ]
),
```

We need to loop through all the results and create new data frame having this information "Products", "Support".

So, that we can perform sort on "Support" value on top 10 columns.

In [5]:
data_values = []
min_length=2
for result in results:
    if len(result.items) >= 2 and 'nan' not in list(result.items):
        data_values.append([result.items, result.support])
resultsinDataFrame = pd.DataFrame(data_values, columns=["Product", "Support"])
resultsinDataFrame = resultsinDataFrame.nlargest(n=10, columns="Support")
resultsinDataFrame

                                Product   Support
697          (spaghetti, mineral water)  0.059725
241          (mineral water, chocolate)  0.052660
339               (mineral water, eggs)  0.050927
662               (milk, mineral water)  0.047994
577        (ground beef, mineral water)  0.040928
256              (spaghetti, chocolate)  0.039195
589            (ground beef, spaghetti)  0.039195
353                   (spaghetti, eggs)  0.036528
320                (french fries, eggs)  0.036395
507  (frozen vegetables, mineral water)  0.035729